.card-container
{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(97, 184, 77);
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}


.card
{
    width: 400px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 2px 4px 5px black;
}

.img-style
{
    width: 100%;
    height: 400px;
}

.card-body
{
    padding: 5px;
    background-color: rgb(42, 114, 3);
}

.card-title
{
    font-size: 2rem;
    text-align: center;
    color: rgb(0, 2, 2);
}

.card-desc
{
    text-align: justify;
    line-height: 1.5;
    color: white;
}

.card:hover
{
    box-shadow: 6px 12px 10px white;
}